<div id="header" style="background-color:#303030;">
<div id="myDiv" style="color:#A0A0A0;margin:auto;text-align:center"><h1>Editing book</h1></div>

<div id="content" style="background-color:#EEEEEE;text-align:center;align:center"><%= render 'form' %></div>
<div id="myDiv" style="margin:auto;text-align:center"><b>
<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
</b></div>
