<h1>New book</h1>

<form id="new-book" name="book">
  <div class="field">
    <label for="title"> Enter Title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
    <label for="author"> Enter Author:</label>
    <input type="text" name="author" id="author" value="<%= author %>" >
    <label for="read"> Enter Status:</label>
    <input type="text" name="status" id="status" value="<%= status %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Add Book" />
  </div>

</form>
